[Desktop Entry]
Version=2.0
Name=BBDebet 2
Comment=Digital debetbok for Biørneblæs
Exec=INSTALL_PATH/run.sh
Icon=INSTALL_PATH/img/bblogo_256.png
Terminal=false
Type=Application
Categories=Utility
